/*
	CSE 403 Cloud Composer Group (https://code.google.com/p/cloud-composer/wiki/CloudComposer)
	Eui Min Jung, Hannah Hemmaplardh, James Vaughan, Jared Clement, Junebae Kye, Jungryul Choi, Michael Lam
	
	Styling for instruments bar
*/

.instrumentContainer
{
	width:48px;
	height:48px;
	float:left;
	cursor:pointer;
	margin-bottom:2px;
}

#instrumentBar > span:hover
{
	opacity:0.5;
}

.instrumentSelected
{
	width:44px;
	height:44px;
	border:2px dashed #000000;
}

.instrumentDisplayBox
{
	position:absolute;
	bottom:2px;
	left:2px;
}

.instrumentIndicator
{

	float:left;
}

.instrumentImage
{
	position:absolute;
	top:2px;
	left:2px;
}
