/*
	Layout CSS,
	Manages the general structure of the html page.

*/

body
{
	background-color:#111111;
	color:#EEEEEE;
}

body > div
{
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	width:95%;
	min-width:900px;
}

#header
{
	height:60px;
	position:relative;
}

#header_left
{
	float:left;
	width:250px;
}

#header_center
{
	position:absolute;
	bottom: 4px;
	right:550px;
	font-weight:bold;
	font-size:11pt;
	font-family:arial, verdana, sans-serif;
	cursor:pointer;
	color:#FFFF99;
	text-decoration:underline;
}

#header_center:hover
{
	color: #CCFF99;
}

#header_right
{
	float:right;
	width:550px;

}
#header_right > button
{
	float:right;
	width:160px;
	height:54px;
	margin:3px;
	border:1px solid;
	font-size:16pt;
	background-color:#8888FF;
	cursor:pointer;
}

#header_right > button:hover
{
	background-color:#BBBBFF;
}

/* tempo bar */
#header_right > div
{
	float:right;
	width:200px;
	height:30px;
/*	border:1px solid white;*/
	margin-top:24px;
	font-size:8pt;
	font-weight:bold;
	text-align:center;
	position:relative;
}

#mid{}
#footer{}


/* Inside of mid section 
	Make sure to set in grid.css:
	instrumentBar.width + margin = innergrid.padding-left
	
	I dn't wat to do this this wyayAY?!!?!??
*/

#instrumentBar
{
	width:50px;
	height:250;
	border:2px solid;
	float:left;
	background-color:#FFFFFF;
	margin-right:4px;
}	

#grid
{
	border-right:2px solid #FFFFFF;
	border-bottom:2px solid #FFFFFF;
	background-color:#DDDDDD;
	min-width:790px;
	margin-left:4px;
}

.highlightbar
{
	background-color:#CC6666;
}

#midiplayer
{
	border:2px solid white;
	margin-left:56px;
	/*text-align:center;*/
	height:54px;
	position:relative;
}


#footer > *
{
	float:right;
	margin-left: 18px;
}

#output
{
	width:700px;
	height:50px;
	border:1px solid;
	float:left;
	overflow:scroll;
}

a { color: #FFFF99; }
a:hover { color: #CCFF99; }