/*
	CSE 403 Cloud Composer Group (https://code.google.com/p/cloud-composer/wiki/CloudComposer)
	Eui Min Jung, Hannah Hemmaplardh, James Vaughan, Jared Clement, Junebae Kye, Jungryul Choi, Michael Lam
	
	Styling for playback
*/

#tempo
{
	position:absolute;
	bottom:0px;
	height:10px;
	width:100%;
}

#playbackButtons > div
{
	height: 50px;
	width: 50px;
	cursor: pointer;
	float:left;
}

#playback_play {	background-image:url('../images/Play-Disabled-icon-color.png'); }
#playback_pause { background-image:url('../images/Pause-Disabled-icon-color.png'); }
#playback_stop { background-image:url('../images/Stop-Disabled-icon-color.png'); }

#playback_play:hover {	background-image:url('../images/Play-Disabled-icon.png'); }
#playback_pause:hover { background-image:url('../images/Pause-Disabled-icon.png'); }
#playback_stop:hover { background-image:url('../images/Stop-Disabled-icon.png'); }


#playbackButtons
{
	width:120px;
	height:54px;
	float:left;
}

#playbackSliderContainer
{
	margin-top:20px;
	margin-left:120px;
	margin-right:16px;

}

#playbackSlider
{
	width:100%;
	height:10px;
}
