/*
	Layout CSS,
	Manages the general structure of the html page.

*/

body
{
	background-color:#111111;
	color:#EEEEEE;
}

body > div
{
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	width:95%;
	min-width:860px;
}

#header
{
	height:60px;
}

#header_left
{
	float:left;
	width:300px;
}

#header_right
{
	float:right;
	width:540px;

}
#header_right > button
{
	float:right;
	width:160px;
	height:54px;
	margin:3px;
	border:1px solid;
	font-size:16pt;
	background-color:#8888FF;
}

/* tempo bar */
#header_right > div
{
	float:right;
	width:200px;
	height:30px;
/*	border:1px solid white;*/
	margin-top:24px;
	font-size:8pt;
	font-weight:bold;
	text-align:center;
	position:relative;
}

#mid{}
#footer{}


/* Inside of mid section 
	Make sure to set in grid.css:
	instrumentBar.width + margin = innergrid.padding-left
	
	I dn't wat to do this this wyayAY?!!?!??
*/

#instrumentBar
{
	width:50px;
	height:300px;
	border:2px solid;
	float:left;
	background-color:#FFFFFF;
	margin-right:4px;
}	

#grid
{
	border-right:2px solid #FFFFFF;
	border-bottom:2px solid #FFFFFF;
	background-color:#DDDDDD;
	min-width:790px;
	margin-left:4px;
}

.highlightbar
{
	background-color:#CC6666;
}

#midiplayer
{
	border:2px solid white;
	margin-left:56px;
	/*text-align:center;*/
	height:54px;
	position:relative;
}


#footer > *
{
	float:right;
}

#output
{
	width:700px;
	height:50px;
	border:1px solid;
	float:left;
	overflow:scroll;
}

/* 
 * For tutorial bubbles
 * 
*/

.bubble {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	color: grey;
	background:#FFFFFF; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#CCCCFF), to(#FFFFFF));
	background:-moz-linear-gradient(#CCCCFF, #FFFFFF);
	background:-o-linear-gradient(#CCCCFF, #FFFFFF);
	background:linear-gradient(#CCCCFF, #FFFFFF);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}


.bubble.top {
	background:#FFFFFF;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#CCCCFF));
	background:-moz-linear-gradient(#FFFFFF, #CCCCFF);
	background:-o-linear-gradient(#FFFFFF, #CCCCFF);
	background:linear-gradient(#FFFFFF, #CCCCFF);
}


.bubble.left {
	margin-left:40px;
	background:#FFFFFF;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#CCCCFF), to(#FFFFFF));
	background:-moz-linear-gradient(#CCCCFF, #FFFFFF);
	background:-o-linear-gradient(#CCCCFF, #FFFFFF);
	background:linear-gradient(#CCCCFF, #FFFFFF);
}

.bubble.right {
	margin-right:40px;
	background:#FFFFFF;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#CCCCFF), to(#FFFFFF));
	background:-moz-linear-gradient(#CCCCFF, #FFFFFF);
	background:-o-linear-gradient(#CCCCFF, #FFFFFF);
	background:linear-gradient(#CCCCFF, #FFFFFF);
}


.bubble:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#FFFFFF transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

.bubble.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;2e
	left:auto;
	border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #FFFFFF; 
}

.bubble.left:after {
	top:16px; 
	left:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #FFFFFF; 
}

.bubble.right:after {
	top:16px; 
	right:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
	border-color:transparent #FFFFFF ; 
}

