/* Instrument Specific Style: */
.piano {  }
.guitar {  }
.drum {  }
.trumpet { }
.violin {  }

.instrumentContainer
{
	width:48px;
	height:48px;
	float:left;
	cursor:pointer;
	margin-bottom:2px;
}

.instrumentSelected
{
	width:44px;
	height:44px;
	border:2px dashed #000000;
}

.instrumentDisplayBox
{
	position:absolute;
	bottom:2px;
	left:2px;
}

.instrumentIndicator
{
	margin-left:1px;
	float:left;
}

.instrumentImage
{
	position:absolute;
	top:2px;
	left:2px;
}